body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

/*  ========================= header ================== */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin: 0 auto;
}

.page-header div {
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.navigation {
    align-items: center;
    display: flex;
    margin-right: auto;
}

.logo { 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-right: 76px;
    width: 115px;
    margin-left: 0;
    display: inline-block;
}


.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
}

.page-header .link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-text:hover,
.link-text:focus,
.link-text:active {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts .link-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.contacts .link-address:hover,
.contacts .link-address:focus {
    color: #404bbf;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
    width: 261px;
}

.nav-address {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.studio-element::after {
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}


.lists-item .studio-element {
    color: #404bbf;
}

.link-address {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  ==================== section 1 ================== */
.section-one {
    background-color: #2e2f42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    
}

.section-one div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    align-content: center;
    white-space: nowrap;
    margin-top: 48px;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF
}

/* ================= section 2 ==================== */


.lists-advantages .title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lists-advantages .text-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;

}

.lists-advantages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.advantages-items {
    width: calc((100% - 72px) / 4);
}

.cont-icons-section {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.cont-icons-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =============== section 3 ================== */
.section-three {
    background-color:  #f4f4fd;
}

.section-title-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.lists-team .section-title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.lists-team .text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

.lists-team {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.lists-team .team-people {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.avatar-team {
    display: block;
    max-width: 100%;
    height: auto;
}

.cont-comand {
    gap: 8px;
    padding: 32px 0;
}

.lists-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.items-icons {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    fill: #f4f4fd;
}

.icons-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    background-color: #404BBF;
}


/* ===================== section 4 =================== */


.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.lists-portfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.lists-portfolio .lists-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    margin-bottom: 8px
}

.lists-portfolio .lists-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: start;
    gap: 8px;
}

.potfolio-avatar {
    display: block;
    max-width: 100%;
    height: auto;
}

.potfolio-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-items:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.blok-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.potfolio-items-container {
    position: relative;
    overflow: hidden;
}


.overlay-text {
    position: absolute;
    transform: translateY(100%);
    top: 0;
    left: 0;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
}

.potfolio-items:hover .overlay-text,
.potfolio-items:focus .overlay-text {
    transform: translateY(0%);
}

/* ==================== footer ======================== */

.footer-section .logo-studio {
    color: #f4f4fd;
    width: 115px;
    height: 24px;
    align-items: center;
    justify-content: flex-start;

}

.footer-section {
    background-color: #2e2f42;
    height: 312px;
    padding: 100px 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
}

.log-foot {
    margin-bottom: 16px;
    display: inline-block;
}

.icons-lists-foot {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 0;
    padding-left: 0;
}

.icons-link-footer:hover,
.icons-link-footer:focus {
    background-color: #31D0AA;
}

.container-lists-foot {
    width: 208px;
    height: 80px;
    padding: 0;
    margin-top: 16px;
    margin-left: 0px;
    margin-right: 80px;
}

.text-icon-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.container-for-all {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.container-in-foot {
    width: 280px; 
    margin-right: 120px;
    margin-left: 0;
    padding: 0;
}

.container-for-imp {
    margin-left: 0;
    width: 453px;
    height: 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.forma-inp-and-btn {
    display: flex;
    gap: 24px;
}

.title-imp {
    width: 75px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.email-text {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.email-text::placeholder {
    color: #ffffff; 
 }

.butt-subsc {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    padding-left: 24px;
    padding-right: 16px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-form-foot {
    fill: #ffffff;
    margin-left: 16px;
 }


/* ================ modal window ==================== */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-form-container {
    background-color: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.modal-text-overlay {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
    top: 50%;
    left: 50%;
}

.modal-form-window {
    display: flex;
    flex-direction: column;
}

.modal-close { 
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.form-title-name {
    margin-bottom: 8px;
}

.name-title-inp {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    height: 14px;
}

.form-main {
    position: relative;


}

.name-inp {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-icon-add {
    position: absolute;
    left: 16px;
    height: 24px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
}

.name-inp:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}


.form-wrraper-container {
    height: 138px;
    margin-bottom: 16px;
}

.comment-container {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    min-height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.comment-container:focus {
    border-color: #4D5AE5;
}

.checkbox-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;
    width: 360px;
    height: 16px;
}

.form-deal {
    margin-top: 0;
    margin-bottom: 24px;
}

.deal-allow {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}


.checkbox:checked + .checkbox-title > span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}


.checkbox-title a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
 }

.checkbox-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

 .send-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }