body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

/*  ========================= header ================== */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin: 0 auto;
}

.page-header div {
    display: flex;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.navigation {
    align-items: center;
    display: flex;
    margin-right: auto;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-right: 76px;
    width: 115px;
    margin-left: 0;
    display: inline-block;
    /* padding: 24px 0; */
    margin-bottom: 16px;
}

.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
}

.page-header .link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    text-decoration: none;

}

.link-text:hover,
.link-text:focus,
.link-text:active {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts .link-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.contacts .link-address:hover,
.contacts .link-address:focus {
    color: #404bbf;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
    width: 261px;
    /* padding: 24px 0; */
}

.nav-address {
    list-style-type: none;
    display: flex;
    gap: 40px;
    /* padding: 24px 0; */
}

/*  ==================== section 1 ================== */
.section-one {
    background-color: #2e2f42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
}

.section-one div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    align-content: center;
    white-space: nowrap;
    margin-top: 48px;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF
}

/* ================= section 2 ==================== */


.lists-advantages .title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.lists-advantages .text-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;

}

.lists-advantages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.advantages-items {
    width: calc((100% - 72px) / 4);

}
/* =============== section 3 ================== */
.section-three {
    background-color:  #f4f4fd;
}

.section-three .container {
    padding: 32px 0;
}

.section-title-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.lists-team .section-title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px
}

.lists-team .text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.lists-team {
    list-style-type: none;
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.lists-team .team-people {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
}

.avatar-team {
    display: block;
    max-width: 100%;
    height: auto;
}

.cont-comand {
    width: 232px;
    height: 56px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 32px 16px;
    padding: 32px 0;
}

/* ===================== section 4 =================== */


.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.lists-portfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.lists-portfolio .lists-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    padding-top: 32px;
    padding-left: 16px;
    margin-bottom: 8px
}

.lists-portfolio .lists-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: start;
    padding-left: 16px;
    padding-bottom: 32px;
    gap: 8px;
}

.potfolio-avatar {
    display: block;
    max-width: 100%;
    height: auto;
}

.potfolio-items {
    width: calc((100% - 48px) / 3);
}

.blok-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* ==================== footer ======================== */

.footer-section .logo-studio {
    color: #f4f4fd;
    width: 115px;
    height: 24px;
    align-items: center;
    justify-content: flex-start;

}

.footer-section {
    background-color: #2e2f42;
    height: 312px;
    padding: 100px 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
}
