body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

/*  ========================= header ================== */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header div {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
}

.navigation {
    align-items: center;
    display: flex;
    margin-right: auto;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-right: 76px;
}

.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
}

.page-header .link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    text-decoration: none;

}

.link-text:hover,
.link-text:focus,
.link-text:active {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts .link-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.contacts .link-address:hover,
.contacts .link-address:focus {
    color: #404bbf;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 24px 0;
}

.nav-address {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 24px 0;
}

/*  ==================== section 1 ================== */
.section-one {
    background-color: #2e2f42;
}

.section-one div {
    height: 600px;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    justify-content: center;
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF
}

/* ================= section 2 ==================== */

.lists-advantages .title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.lists-advantages .text-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;
}

.lists-advantages {
    list-style-type: none;
    padding: 120px 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: baseline;
}

/* =============== section 3 ================== */
.section-three {
    background-color:  #f4f4fd;
}

.section-title-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.lists-team .section-title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.lists-team .text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.lists-team {
    list-style-type: none;
}

.lists-team .team-people {
    background: #ffffff;
}


/* ===================== section 4 =================== */
.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.lists-portfolio {
    list-style-type: none;
}

.lists-portfolio .lists-portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.lists-portfolio .lists-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==================== footer ======================== */

.footer-section .logo-studio {
    color: #f4f4fd;
}

.footer-section {
    background-color: #2e2f42;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}